body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    background: url(../images/171700.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 960px;
    text-align: center;
    margin: auto;
    padding: 10px;
} 

#collector {
    background: red;
    margin: 20px;
}

#instructions {
    background: rgb(54, 54, 197);
    margin: 20px;
    font-size: 18px;
}

#rand-num {
    background: gold;
    width: 350px;
    height: 75px;
}

img{
    width: 130px;
    height: 200px;
}

#images {
    margin: auto;
    margin-bottom: 20px;
}

#rand-num {
    height: 75px;
    width: 350px;
    background: rgb(67, 2, 104);
    margin: auto;
    margin-bottom: 20px;
}

#score {
    height: 75px;
    width: 350px;
    margin: auto;
    background: gold;
    margin-bottom: 20px;
    

}

#wins {
    height: 75px;
    width: 350px;
    background: rgb(4, 126, 4);
    margin: auto;
    margin-bottom: 20px;

}

#losses {
    height: 75px;
    width: 350px;
    background: orange;
    margin: auto;
    
    
   
}